<?xml version="1.0"?>
<plugin id="loader" name="DataNucleus plug-ins" provider-name="Chappy">
    <extension point="org.datanucleus.classloader_resolver">
        <class-loader-resolver name="chappy.loaders.resolver.ChappyClassLoaderResolver" class-name="chappy.loaders.resolver.ChappyClassLoaderResolver"/>
    </extension>
</plugin>