/chappy-configurations-1.0.0-SNAPSHOT.jar
/chappy-flows-1.0.0-SNAPSHOT.jar
/chappy-interfaces-1.0.0-SNAPSHOT.jar
/chappy-mappings-1.0.0-SNAPSHOT.jar
/chappy-services-1.0.0-SNAPSHOT.jar
/chappy-utils-1.0.0-SNAPSHOT.jar
